<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Article List</title>
</head>
<body>
<h1>Articles</h1>

<!-- Create Article Button -->
<a href="/new-article">
  <button>Create Article</button>
</a>

<!-- Logout Button -->
<form id="logoutForm" action="/logout" method="get">
  <button type="submit">Logout</button>
</form>

<ul>
  <li th:each="article : ${articles}">
    <h2 th:text="${article.title}">Article Title</h2>
    <p th:text="${article.content}">Article Content</p>
    <a th:href="@{articles/{id}(id=${article.id})}">Read more</a>
  </li>
</ul>
</body>
</html>
